$dark-color: #000;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;

    h1,
    h2,
    h3 {
        font-family: "Montserrat", sans-serif;
    }

    .text-heading {
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
    }

    .text-small {
        font-size: 13px;
    }

    .button-title {
        font-family: "Montserrat", sans-serif;
        font-size: 16px;   
    }

    .button-small {
        font-size: 14px;
    }

    .italic {
        font-style: italic;
    }
}

.main {
    .title {
        text-align: center;
        color: $dark-color;
    }

    .resource {
        display: block;
        text-align: center;
    }
}

.ui-tabs {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.tabbar {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .item {
        padding: 8px;
        min-width: calc(100% / 4);
        text-align: center;
        background-color: grey;
        border: 1px solid #000;
    }
}

.tabs-holder {
    position: relative;

    .tab {
        display: none;
        padding: 8px;
        &.active {
            display: block;
        }

        .item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 4px;
            margin-bottom: 4px;
            background-color: lightgray;

            .content-holder {
                margin-right: 16px;
            }

            .progress-holder {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100px;
                height: 24px;
                border: 1px solid grey;
                position: relative;

                .progress-fill {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    height: 100%;
                    background-color: lightgreen;
                }

                .progress-time {
                    position: relative;
                }
            }

            .button {
                flex-shrink: 0;
                padding: 8px 24px;
                background-color: grey;
                text-align: center;
            }
        }
    }
}
